<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EstuProfe</title>
    <link rel="stylesheet" href="{% static 'gestionTutorias/css/style_home_student.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container_header">
            <img src="{% static 'gestionTutorias/img/logo.png' %}" alt="" width="50" height="55">
            <input class="find_publication" type="text" placeholder="Buscar en EstuProfe">
        </div>
        <div class="container_name">
            <label class="name_title" for="">Manuel Chaparro</label>
        </div>
    </header>
    <main>
        <div class="container_publications">
            <div class="container_publications_title">
                <img src="{% static 'gestionTutorias/img/publication_icon.png' %}" alt="" width="50" height="50">
                <label style="padding-left: 2rem; padding-right: 2rem;" for="">Publicaciones</label>
                <input style="border: 0;" type="image" src="{% static 'gestionTutorias/img/add_icon.png' %}" width="50" height="50"/>
            </div>
            <div class="container_publications_p">
                <div class="publication">
                    <label class="name_publication" for="">Fernanda Vargas</label>
                    <div class="publication_info">
                        <div class="publication_info_titles">
                            <label class="info_publication" for="">Funciones Integrales</label>
                            <label class="info_publication" for="">Matematicas</label>
                        </div>
                        <div class="publication_info_description">
                            <label class="description" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Aenean sagittis sagittis facilisis. Vivamus accumsan lacus eget
                                  elit scelerisque, et pretium augue convallis. Nunc lacinia 
                                  quam volutpat, vulputate turpis et, vehicula sapien. Ut sed 
                                  ectus eu sem consectetur posuere quis ac tortor. Donec 
                                  porttitor libero eu ex bibendum maximus. Sed quis cursus 
                                  justo, vehicula pellentesque metus. Aenean sit amet imperdiet 
                                  libero, quis ultricies ex.</label>
                            <input class="send_offer" maxlength="100" type="text" placeholder="Ofertar">
                            <input style="border:0" class="send" type="image" src="{% static 'gestionTutorias/img/send_icon.png' %}" width="50" height="50"/>
                        </div>
                    </div>
                </div>

                <div class="publication">
                    <label class="name_publication" for="">Sofia Reyes</label>
                    <div class="publication_info">
                        <div class="publication_info_titles">
                            <label class="info_publication" for="">Verbo to Be</label>
                            <label class="info_publication" for="">Lenguas</label>
                        </div>
                        <div class="publication_info_description">
                            <label class="description" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Aenean sagittis sagittis facilisis. Vivamus accumsan lacus eget
                                  elit scelerisque, et pretium augue convallis. Nunc lacinia 
                                  quam volutpat, vulputate turpis et, vehicula sapien. Ut sed 
                                  ectus eu sem consectetur posuere quis ac tortor. Donec 
                                  porttitor libero eu ex bibendum maximus. Sed quis cursus 
                                  justo, vehicula pellentesque metus. Aenean sit amet imperdiet 
                                  libero, quis ultricies ex.</label>
                            <input class="send_offer" type="text" placeholder="Ofertar">
                            <input style="border:0" class="send" type="image" src="{% static 'gestionTutorias/img/send_icon.png' %}" width="50" height="50"/>
                        </div>
                    </div>
                </div>

                <div class="publication">
                    <label class="name_publication" for="">Sofia Reyes</label>
                    <div class="publication_info">
                        <div class="publication_info_titles">
                            <label class="info_publication" for="">Verbo to Be</label>
                            <label class="info_publication" for="">Lenguas</label>
                        </div>
                        <div class="publication_info_description">
                            <label class="description" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Aenean sagittis sagittis facilisis. Vivamus accumsan lacus eget
                                  elit scelerisque, et pretium augue convallis. Nunc lacinia 
                                  quam volutpat, vulputate turpis et, vehicula sapien. Ut sed 
                                  ectus eu sem consectetur posuere quis ac tortor. Donec 
                                  porttitor libero eu ex bibendum maximus. Sed quis cursus 
                                  justo, vehicula pellentesque metus. Aenean sit amet imperdiet 
                                  libero, quis ultricies ex.</label>
                            <input class="send_offer" type="text" placeholder="Ofertar">
                            <input style="border:0" class="send" type="image" src="{% static 'gestionTutorias/img/send_icon.png' %}" width="50" height="50"/>
                        </div>
                    </div>
                </div>


                <div class="publication">
                    <label class="name_publication" for="">Sofia Reyes</label>
                    <div class="publication_info">
                        <div class="publication_info_titles">
                            <label class="info_publication" for="">Verbo to Be</label>
                            <label class="info_publication" for="">Lenguas</label>
                        </div>
                        <div class="publication_info_description">
                            <label class="description" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Aenean sagittis sagittis facilisis. Vivamus accumsan lacus eget
                                  elit scelerisque, et pretium augue convallis. Nunc lacinia 
                                  quam volutpat, vulputate turpis et, vehicula sapien. Ut sed 
                                  ectus eu sem consectetur posuere quis ac tortor. Donec 
                                  porttitor libero eu ex bibendum maximus. Sed quis cursus 
                                  justo, vehicula pellentesque metus. Aenean sit amet imperdiet 
                                  libero, quis ultricies ex.</label>
                            <input class="send_offer" type="text" placeholder="Ofertar">
                            <input style="border:0" class="send" type="image" src="{% static 'gestionTutorias/img/send_icon.png' %}" width="50" height="50"/>
                        </div>
                    </div>
                </div>


                <div class="publication">
                    <label class="name_publication" for="">Sofia Reyes</label>
                    <div class="publication_info">
                        <div class="publication_info_titles">
                            <label class="info_publication" for="">Verbo to Be</label>
                            <label class="info_publication" for="">Lenguas</label>
                        </div>
                        <div class="publication_info_description">
                            <label class="description" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Aenean sagittis sagittis facilisis. Vivamus accumsan lacus eget
                                  elit scelerisque, et pretium augue convallis. Nunc lacinia 
                                  quam volutpat, vulputate turpis et, vehicula sapien. Ut sed 
                                  ectus eu sem consectetur posuere quis ac tortor. Donec 
                                  porttitor libero eu ex bibendum maximus. Sed quis cursus 
                                  justo, vehicula pellentesque metus. Aenean sit amet imperdiet 
                                  libero, quis ultricies ex.</label>
                            <input class="send_offer" type="text" placeholder="Ofertar">
                            <input style="border:0" class="send" type="image" src="{% static 'gestionTutorias/img/send_icon.png' %}" width="50" height="50"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container_menu">
            <div class="notifications_container">
                <label class="notifications_title" for="">Notificaciones</label>
                <div class="notifications" style="overflow-y: scroll;">
                    <div class="notification">
                        <label class="notification_title" for="">Was / Were </label>
                        <label class="notification_info" for="">Hola! te puedo ayudar con la tarea de Ingles por $20.000, espero tu respuesta</label>
                        <input class="notification_accept" style="border:0" type="image" src="{% static 'gestionTutorias/img/accept_icon.png' %}" width="50" height="50"/>
                    </div>

                    <div class="notification">
                        <label class="notification_title" for="">Was / Were </label>
                        <label class="notification_info" for="">Hola! te puedo ayudar con la tarea de Ingles por $20.000, espero tu respuesta</label>
                        <input class="notification_accept" style="border:0" type="image" src="{% static 'gestionTutorias/img/accept_icon.png' %}" width="50" height="50"/>
                    </div>

                    <div class="notification">
                        <label class="notification_title" for="">Was / Were </label>
                        <label class="notification_info" for="">Hola! te puedo ayudar con la tarea de Ingles por $20.000, espero tu respuesta</label>
                        <input class="notification_accept" style="border:0" type="image" src="{% static 'gestionTutorias/img/accept_icon.png' %}" width="50" height="50"/>
                    </div>

                    <div class="notification">
                        <label class="notification_title" for="">Was / Were </label>
                        <label class="notification_info" for="">Hola! te puedo ayudar con la tarea de Ingles por $20.000, espero tu respuesta</label>
                        <input class="notification_accept" style="border:0" type="image" src="{% static 'gestionTutorias/img/accept_icon.png' %}" width="50" height="50"/>
                    </div>

                    <div class="notification">
                        <label class="notification_title" for="">Was / Were </label>
                        <label class="notification_info" for="">Hola! te puedo ayudar con la tarea de Ingles por $20.000, espero tu respuesta</label>
                        <input class="notification_accept" style="border:0" type="image" src="{% static 'gestionTutorias/img/accept_icon.png' %}" width="50" height="50"/>
                    </div>
                </div>
            </div>
            <div class="menu">
                <label class="acount_title" for="">Perfil</label>
                <input style="border:0" class="acount" type="image" src="{% static 'gestionTutorias/img/acount_icon.png' %}"/>
                <label class="my_publications_title" for="">Mis publicaciones</label>
                <input style="border:0" class="my_publications" type="image" src="{% static 'gestionTutorias/img/publications_icon.png' %}"/>
            </div>
        </div>
    </main>
</body>