<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>EstuProfe - Inicio de sesion</title>
  <link rel='stylesheet'><link rel="stylesheet" href="{% static 'gestionTutorias/css/style_login.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>
<body>
<div class="login-form">
     <h1>EstuProfe</h1>
     <p></p>
     <div class="form-group ">
       <input type="text" class="form-control" placeholder="Usuario " id="UserName" name="username">
       <i class="fa fa-user"></i>
     </div>
     <p></p>
     <div class="form-group log-status">
       <input type="password" class="form-control" placeholder="Contraseña " id="Passwod" name="password">
       <i class="fa fa-lock"></i>
     </div>
     <h2 style="margin-bottom: 0px;" >Inicia sesión como...</h2>
      <span class="alert">Invalid Credentials</span>
      <div class="sesion__buttons">
        <div class="sesion__buttons__create">
            <button class="button-17" name="studentBtn">Estudiante</button>
        </div>
        <div class="sesion__buttons__sign">
            <button class="button-17" name="tutorBtn">Profesor</button>
        </div>  
      </div>
      <div class="login-options">
        <a class="login-options-create" href="{% url 'RegisterPage'%}">¿No tienes una cuenta?</a>
       </div>     
     
    
</div>
<!-- partial -->
  <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' %}"></script><script  src="./script.js"></script>

</body>
</html>
